body {
    background: #f8f0ff;
    font-family: 'Lobster', cursive;
}

li {
    list-style-type: none;
}

#btnOpenModal {
    letter-spacing: 2px;
}

.answers-item label {
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 0 0 10px 10px;
    min-width: 60px;
    text-align: center;
    padding: 5px;
}

.answers-item label:hover {
    border: 2px solid rgba(0,0,0,0.5);
}

input:checked + label{
    border: 2px solid #b33c3cb0;
    color: #b33c3cb0;
}

label span {
    font-size: 16px;
}

.form-group label {
    font-size: 20px;
    margin-top: -1rem;
}

.answerImg {
    width: 100%;
}

.answers-item {
    width: 85px;
}

.close {
    font-size: 32px;
}

.logo-img {
    width: 50px;
    height: 50px;
    background: url('../image/burger.png') center no-repeat;
    background-size: contain;
    margin-right: 8px;
    margin-top: -3px;
}

.logo-text, .contacts, .main-title, .arrow {
    color: #b33c3cb0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Russo One', sans-serif;
}

.logo-text, .contacts {
    letter-spacing: 3px;
}

.arrow {
    font-size: 72px;
}

.formAnswers {
    font-size: 20px;
    text-align: center;
}

.content {
    width: 300px;
    height: 300px;
    background: url('../image/burgerMain.png') center no-repeat;
    background-size: 115%;
}

.modal {
    background: rgba(0,0,0, 0.5);
}

.modal-content {
    background: #f8f0ff;
    /* color: #b33c3cb0; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black;  */
}

.btn-outline-danger {
    background-color: inherit;
    border: 1px solid #b33c3cb0 !important;
    color: #b33c3cb0 !important;
}

.btn-outline-danger span {
    font-size: 2.2rem;
    color: #b33c3cb0;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black; 
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:focus,
.btn-outline-danger:visited{
    background-color: #b33c3cb0 !important;
    color: black !important;
}

.btn-outline-danger:hover span,
.btn-outline-danger:active span,
.btn-outline-danger:focus span,
.btn-outline-danger:visited span{
    color: #E0FFFF !important;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black; 
}

.burger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger span {
    width: 30px;
    height: 5px;
    display: block;
    background-color: #b33c3cb0;
    border: 2px solid #000;
    transition: all 0.3s;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 14px);
}
.burger.active span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, 5px);
}
.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -9px);
}

#next, #prev {
    background-color: #b33c3cb0;
    border-color: #b33c3cb0;
    outline-color: rgba(179, 60, 60, 0.5);
}

@media (max-width: 768px) {
    header {
        margin-top: 10px;
    }
    
    .logo-text {
        margin-bottom: 0px;
    }
}

@media (max-width: 480px) {
    .logo-text {
        font-size: 24px;
        margin-top: 10px;
        letter-spacing: 1px;
    }
    .main-title {
        font-size: 32px;
        margin-bottom: 0;
    }
    .btn-outline-danger span {
        font-size: 1.45rem;
    }
    .arrow {
        font-size: 60px;
        margin-bottom: 10px;
    }
    .content {
        height: 250px;
        background-size: contain;
    }
    .logo-img {
        width: 40px;
        height: 40px;
        margin-top: 1px;
    }
}